@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

#root {
  width: min(1110px, 90vw);
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  display: block;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem 2.6rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(225, 13%, 12%);
  font-weight: 500;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn:hover {
  background-color: hsl(223, 7%, 53%);
}

p {
  font-size: 0.975rem;
}

.left-title {
  position: absolute;
  left: 7.5vw;
  top: 22.5vh;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 400;
  color: hsl(225, 17%, 82%);
  letter-spacing: 1rem;
  width: 0;
  height: 0;
}

@keyframes slider {
  15% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  40% {
    transform: translateX(-25%);
    -webkit-transform: translateX(-25%);
    -moz-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    -o-transform: translateX(-25%);
  }
  65% {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  90% {
    transform: translateX(-75%);
    -webkit-transform: translateX(-75%);
    -moz-transform: translateX(-75%);
    -ms-transform: translateX(-75%);
    -o-transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.hidden {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  opacity: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.show {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  opacity: 1;
}

.nav-bar,
.footer {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 3.5rem 0;
}
.nav-bar .img-link,
.footer .img-link {
  padding-right: 3rem;
  z-index: 3;
}
.nav-bar .links,
.footer .links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-bar .links-btn,
.footer .links-btn {
  display: none;
  cursor: pointer;
  margin-left: auto;
}
.nav-bar .link,
.footer .link {
  text-decoration: none;
  color: hsl(223, 7%, 53%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-weight: 700;
  font-size: 0.875;
}
.nav-bar .link:hover,
.footer .link:hover {
  color: hsl(225, 13%, 12%);
}

.header {
  width: min(4440px, 360vw);
  height: 720px;
  position: relative;
  display: flex;
  animation: slider 14s ease infinite;
  -webkit-animation: slider 14s ease infinite;
}
.header .item {
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  max-width: 1120px;
  isolation: isolate;
}
.header .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.35);
  z-index: -1;
}
.header .item:nth-child(1) {
  background-image: url(assets/home/desktop/image-hero-paramour.jpg);
}
.header .item:nth-child(2) {
  background-image: url(assets/home/desktop/image-hero-seraph.jpg);
}
.header .item:nth-child(3) {
  background-image: url(assets/home/desktop/image-hero-federal.jpg);
}
.header .item:nth-child(4) {
  background-image: url(assets/home/desktop/image-hero-trinity.jpg);
}
.header .item .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  color: hsl(0, 0%, 100%);
  margin-left: -10vw;
}
.header .item .content .name {
  font-size: 4.5rem;
}
.header .item .content .text {
  line-height: 1.65rem;
  padding: 0.5rem 0 2rem;
}

.welcome {
  margin: 7.5rem 0 10rem;
  position: relative;
}
.welcome .title {
  line-height: 10rem;
  font-size: 12rem;
  color: hsl(230, 21%, 95%);
  font-weight: 700;
}
.welcome .content {
  max-width: 450px;
  margin-left: 10vw;
}
.welcome .content .name {
  font-size: 3.5rem;
  color: hsl(226, 6%, 40%);
  font-weight: 700;
  line-height: 3.5rem;
  padding-bottom: 2.5rem;
}
.welcome .content .text {
  padding-top: 1.25rem;
  line-height: 1.65rem;
  font-weight: 500;
  font-size: 0.925rem;
}
.welcome .welcome-img {
  width: 350px;
  height: 568px;
  background-image: url(assets/home/desktop/image-welcome.jpg);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.banner {
  height: 520px;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)), url(assets/home/desktop/image-small-team.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2.5rem;
  padding-left: 10rem;
}
.banner .name {
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}

.featured {
  margin: 7.5rem 0;
}
.featured .top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured .top-section .title {
  font-size: 3.5rem;
}
.featured .bottom-section {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.featured .bottom-section .item {
  height: 560px;
  width: 100%;
  padding: 2rem;
  display: grid;
  align-content: flex-end;
  text-decoration: none;
  position: relative;
  background-size: cover !important;
}
.featured .bottom-section .item:nth-child(1) {
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)), url(assets/portfolio/desktop/image-del-sol.jpg);
}
.featured .bottom-section .item:nth-child(2) {
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)), url(assets/portfolio/desktop/image-228b.jpg);
}
.featured .bottom-section .item:nth-child(3) {
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)), url(assets/portfolio/desktop/image-prototype.jpg);
}
.featured .bottom-section .item .number {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 12rem;
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
}
.featured .bottom-section .item .name {
  font-weight: 700;
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
  color: hsl(0, 0%, 100%);
}
.featured .bottom-section .item .text {
  font-weight: 400;
  font-size: 0.925rem;
  color: hsl(230, 21%, 95%);
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 10rem;
}
.portfolio .item {
  position: relative;
  display: grid;
  align-content: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  height: 560px;
  width: 100%;
  isolation: isolate;
}
.portfolio .item:hover::after {
  background-color: hsla(255, 100%, 100%, 0.25);
}
.portfolio .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.35);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: -1;
  cursor: pointer;
}
.portfolio .item .name {
  font-weight: 700;
  font-size: 1.125rem;
  padding-bottom: 0.5rem;
  color: hsl(0, 0%, 100%);
}
.portfolio .item .text {
  font-weight: 400;
  font-size: 0.925rem;
  color: hsl(230, 21%, 95%);
}
.portfolio .item:nth-child(1) {
  background-image: url(assets/portfolio/desktop/image-seraph.jpg);
}
.portfolio .item:nth-child(2) {
  background-image: url(assets/portfolio/desktop/image-eebox.jpg);
}
.portfolio .item:nth-child(3) {
  background-image: url(assets/portfolio/desktop/image-federal.jpg);
}
.portfolio .item:nth-child(4) {
  background-image: url(assets/portfolio/desktop/image-del-sol.jpg);
}
.portfolio .item:nth-child(5) {
  background-image: url(assets/portfolio/desktop/image-prototype.jpg);
}
.portfolio .item:nth-child(6) {
  background-image: url(assets/portfolio/desktop/image-228b.jpg);
}
.portfolio .item:nth-child(7) {
  background-image: url(assets/portfolio/desktop/image-edelweiss.jpg);
}
.portfolio .item:nth-child(8) {
  background-image: url(assets/portfolio/desktop/image-netcry.jpg);
}
.portfolio .item:nth-child(9) {
  background-image: url(assets/portfolio/desktop/image-hypers.jpg);
}
.portfolio .item:nth-child(10) {
  background-image: url(assets/portfolio/desktop/image-sxiv.jpg);
}
.portfolio .item:nth-child(11) {
  background-image: url(assets/portfolio/desktop/image-trinity.jpg);
}
.portfolio .item:nth-child(12) {
  background-image: url(assets/portfolio/desktop/image-paramour.jpg);
}

.head-section {
  display: grid;
  justify-content: flex-end;
  align-content: flex-end;
  position: relative;
  height: 720px;
  margin-bottom: 10rem;
}
.head-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 65%;
  background-color: hsl(0, 0%, 100%);
  z-index: -1;
}
.head-section .out-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 635px;
  height: 720px;
  background-image: url(assets/about/desktop/image-hero.jpg);
  z-index: -2;
}
.head-section .out-img.second {
  background-image: url(assets/contact/desktop/image-hero.jpg);
}
.head-section .title {
  line-height: 10rem;
  font-size: 12rem;
  color: hsl(230, 21%, 95%);
  font-weight: 700;
  padding: 7.5rem 0;
}
.head-section .content {
  max-width: 450px;
  margin-left: auto;
}
.head-section .content .name {
  font-size: 3.5rem;
  color: hsl(225, 13%, 12%);
  font-weight: 700;
  line-height: 3.5rem;
  padding-bottom: 3rem;
}
.head-section .content .text {
  line-height: 1.65rem;
  font-weight: 500;
  font-size: 0.925rem;
}

.heritage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 500px;
}
.heritage::after {
  content: "";
  width: 75px;
  height: 1px;
  background-color: hsla(0, 0%, 0%, 0.35);
  position: absolute;
  top: 0;
  left: 0;
}
.heritage .heritage-img {
  width: 540px;
  height: 568px;
  background-image: url(assets/about/desktop/image-heritage.jpg);
  background-size: cover;
}
.heritage .content {
  max-width: 450px;
}
.heritage .content .name {
  font-size: 3.5rem;
  color: hsl(225, 13%, 12%);
  font-weight: 700;
  line-height: 3.5rem;
  padding-bottom: 2rem;
}
.heritage .content .text {
  line-height: 1.65rem;
  font-weight: 500;
  font-size: 0.925rem;
  padding-top: 1.25rem;
}

.leaders {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10rem 0;
}
.leaders img {
  width: 100%;
}
.leaders .title {
  font-size: 3.5rem;
}
.leaders .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem 2rem;
}
.leaders .row .item .name {
  padding: 1.5rem 0 0.5rem;
}
.leaders .row .item .text {
  font-weight: 500;
  font-size: 0.925rem;
  color: hsl(226, 6%, 40%);
}

.details {
  padding: 6rem 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.details::after {
  content: "";
  width: 75px;
  height: 1px;
  background-color: hsla(0, 0%, 0%, 0.35);
  position: absolute;
  top: 0;
  left: 0;
}
.details .title {
  font-size: 3.5rem;
}
.details .row {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.details .row .name {
  font-size: 1rem;
}
.details .row .text {
  color: hsl(226, 6%, 40%);
  font-weight: 500;
}
.details .row .map-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

.map {
  height: 560px;
  width: 100%;
  background-image: url(assets/contact/desktop/image-map.png);
  background-size: cover;
  background-position: center;
  margin: 10rem 0;
}

.connect {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.connect .title {
  font-size: 3.5rem;
}
.connect .form {
  display: flex;
  flex-direction: column;
  width: min(700px, 100%);
}
.connect .form input {
  padding: 1.25rem;
  border: none;
  border-bottom: 1px solid hsl(225, 13%, 12%);
  outline: none;
  font-size: 1.3rem;
  font-weight: 700;
}
.connect .form .btn {
  margin-left: auto;
  border: none;
  cursor: pointer;
}

.footer {
  background-color: hsl(230, 21%, 95%);
  position: relative;
  isolation: isolate;
  margin: 0;
}
.footer .img-link {
  padding: 5rem 3rem;
  background-color: hsl(225, 13%, 12%);
}
.footer .btn {
  margin-left: auto;
  text-align: center;
  justify-content: space-between;
  font-size: 0.875;
  font-weight: 700;
}
.footer::after {
  content: "";
  width: 140px;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 968px) {
  #root {
    width: 100vw;
  }
  .header {
    width: 400vw;
  }
  .header .item:nth-child(1) {
    background-image: url(assets/home/tablet/image-hero-paramour.jpg);
  }
  .header .item:nth-child(2) {
    background-image: url(assets/home/tablet/image-hero-seraph.jpg);
  }
  .header .item:nth-child(3) {
    background-image: url(assets/home/tablet/image-hero-federal.jpg);
  }
  .header .item:nth-child(4) {
    background-image: url(assets/home/tablet/image-hero-trinity.jpg);
  }
  .welcome::after,
  .heritage::after {
    left: 5vw;
  }
  .welcome .title,
  .heritage .title {
    font-size: 7.5rem;
  }
  .welcome .content,
  .heritage .content {
    max-width: 100%;
    margin-left: 0;
  }
  .welcome .content .name,
  .heritage .content .name {
    color: hsl(225, 13%, 12%);
  }
  .welcome .welcome-img,
  .welcome .heritage-img,
  .heritage .welcome-img,
  .heritage .heritage-img {
    display: none;
  }
  .featured .bottom-section {
    flex-direction: column;
  }
  .featured .bottom-section .item {
    height: 240px;
  }
  .featured .bottom-section .item:nth-child(1) {
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)), url(assets/portfolio/tablet/image-del-sol.jpg);
  }
  .featured .bottom-section .item:nth-child(2) {
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)), url(assets/portfolio/tablet/image-228b.jpg);
  }
  .featured .bottom-section .item:nth-child(3) {
    background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.35), hsla(0, 0%, 0%, 0.35)), url(assets/portfolio/tablet/image-prototype.jpg);
  }
  .portfolio {
    grid-template-columns: 1fr;
  }
  .portfolio .item {
    height: 240px;
  }
  .portfolio .item:nth-child(1) {
    background-image: url(assets/portfolio/tablet/image-seraph.jpg);
  }
  .portfolio .item:nth-child(2) {
    background-image: url(assets/portfolio/tablet/image-eebox.jpg);
  }
  .portfolio .item:nth-child(3) {
    background-image: url(assets/portfolio/tablet/image-federal.jpg);
  }
  .portfolio .item:nth-child(4) {
    background-image: url(assets/portfolio/tablet/image-del-sol.jpg);
  }
  .portfolio .item:nth-child(5) {
    background-image: url(assets/portfolio/tablet/image-prototype.jpg);
  }
  .portfolio .item:nth-child(6) {
    background-image: url(assets/portfolio/tablet/image-228b.jpg);
  }
  .portfolio .item:nth-child(7) {
    background-image: url(assets/portfolio/tablet/image-edelweiss.jpg);
  }
  .portfolio .item:nth-child(8) {
    background-image: url(assets/portfolio/tablet/image-netcry.jpg);
  }
  .portfolio .item:nth-child(9) {
    background-image: url(assets/portfolio/tablet/image-hypers.jpg);
  }
  .portfolio .item:nth-child(10) {
    background-image: url(assets/portfolio/tablet/image-sxiv.jpg);
  }
  .portfolio .item:nth-child(11) {
    background-image: url(assets/portfolio/tablet/image-trinity.jpg);
  }
  .portfolio .item:nth-child(12) {
    background-image: url(assets/portfolio/tablet/image-paramour.jpg);
  }
  .leaders {
    flex-direction: column;
    gap: 2rem;
  }
  .banner {
    background-image: url(assets/home/tablet/image-small-team.jpg);
  }
  .head-section .title {
    font-size: 10rem;
  }
  .details {
    flex-direction: column;
    gap: 4rem;
  }
  .details::after {
    left: 5vw;
  }
  .map {
    background-image: url(assets/contact/tablet/image-map.png);
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  .connect {
    flex-direction: column;
    gap: 4rem;
  }
  .connect .form {
    width: 100%;
  }
  .welcome,
  .featured,
  .nav-bar,
  .banner,
  .portfolio,
  .heritage,
  .leaders,
  .details,
  .connect {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .footer {
    flex-direction: column;
    padding-bottom: 2rem;
    margin-top: 12.5rem;
  }
  .footer::after {
    width: 0;
  }
  .footer .img-link {
    display: grid;
    place-content: center;
    margin-top: -80px;
    width: 160px;
    height: 140px;
  }
  .footer .btn {
    margin-right: auto;
  }
  .left-title {
    display: none;
  }
}
@media screen and (max-width: 682px) {
  .featured .top-section .title {
    font-size: 2.75rem;
  }
  .featured .top-section .btn {
    display: none;
  }
  .header {
    height: 560px;
  }
  .header .item {
    place-content: center flex-start;
  }
  .header .item .content {
    margin-left: 0;
    padding-left: 5vw;
  }
  .header .item .content .name {
    font-size: 2.75rem;
  }
  .welcome .title {
    display: none;
  }
  .welcome .content .name {
    font-size: 2.75rem;
    padding-bottom: 1.5rem;
  }
  .banner .name {
    font-size: 2.75rem;
  }
  .head-section .out-img {
    width: 100%;
    background-size: cover;
  }
  .head-section .title {
    display: none;
  }
  .head-section .content {
    padding-left: 5vw;
    padding-right: 5vw;
    max-width: min(450px, 100%);
  }
  .head-section .content .name {
    font-size: 2.75rem;
  }
  .head-section::after {
    width: 90%;
    height: 50%;
  }
  .heritage .content .name {
    font-size: 2.75rem;
    padding: 0.5rem 0 1.5rem;
  }
  .leaders .title {
    font-size: 2.75rem;
  }
  .leaders .row {
    grid-template-columns: 1fr;
  }
  .details .title {
    font-size: 2.75rem;
  }
  .connect .title {
    font-size: 2.75rem;
  }
  .connect .form input {
    font-size: 1rem;
  }
  .btn {
    padding: 1.4rem 2.4rem;
  }
  .nav-bar {
    margin: 2.5rem 0;
  }
  .nav-bar .links-btn {
    display: block;
    z-index: 3;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .nav-bar .links-btn.active {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  .nav-bar .links {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.35);
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 100%;
    z-index: 2;
    gap: 3.5rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .nav-bar .links.active {
    right: 0;
  }
  .nav-bar .links .link {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=style.css.map */